parameters:
    uuid_regex: ([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}

security:
    role_hierarchy:
        ROLE_ADMIN: [ ROLE_PROFESSIONAL ]
        ROLE_PROFESSIONAL: [ ROLE_USER ]

    enable_authenticator_manager: true

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        password_reset:
            pattern: ^/forgot-password
            stateless: true

        login:
            provider: app_user_provider
            pattern: ^/api/authenticate
            stateless: true
            json_login:
                check_path: /api/authenticate
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/api/doc, roles: PUBLIC_ACCESS }
        - { path: ^/api/authenticate, roles: PUBLIC_ACCESS }
        - { path: ^/api/forgot-password, role: PUBLIC_ACCESS }
        - { path: ^/api/places, role: PUBLIC_ACCESS }
        - { path: ^/api/places/%uuid_regex%, role: PUBLIC_ACCESS, methods: [ GET ] }
        - { path: ^/api/places/%uuid_regex%, role: [ ROLE_ADMIN ], methods: [ PATCH ] }
        - { path: ^/api/patients, roles: PUBLIC_ACCESS, methods: [ POST ] }
        - { path: ^/api/patients, roles: [ ROLE_PROFESSIONAL ], methods: [ GET ] }
        - { path: ^/api/patients/%uuid_regex%, roles: [ ROLE_PROFESSIONAL ], methods: [ GET ] }
        - { path: ^/api/professionals, roles: PUBLIC_ACCESS, methods: [ GET, POST ] }
        - { path: ^/api/appointments, roles: [ ROLE_USER ] }
        - { path: ^/api/me, roles: [ ROLE_USER ] }
        - { path: ^/api, roles: [ ROLE_ADMIN ] }
